# Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/

# Eclipse / IntelliJ
/.idea/
/*.iml
/.project
/.classpath
/.settings/

# Environment variables
.env
.env.local

# Temporary files
*.log
*.tmp
